upstream backend {
    server apis:3000;
}

upstream frontend {
    server site;
}

server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    location /api/ {
        rewrite ^/api/(.*)$ /api/$1 break;
        proxy_pass http://backend/;
    }

    location / {
        proxy_pass http://frontend/;
    }

}
