<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-user"></i> <span translate="views.users.list.Users"></span></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-list"></i> <span translate="views.users.list.ListOfUsers"></span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users track by $index">
                                <td>{{ $index + 1 }}</td>
                                <td><a>{{ user.username }}</a></td>
                                <td>{{ user.firstname +  ' ' + user.lastname }}</td>
                                <td>{{ user.createdAt }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <div class="row">
                    <div class="pull-right">
                        <uib-pagination style="margin-right: 20px" total-items="count" items-per-page="limit" ng-model="current_page" ng-change="pageChanged()" max-size="5" boundary-links="true" rotate="false"></uib-pagination>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
